.riderBookCntainer{
    background-color: aquamarine;
    height: 100vh;
}
.ride-list-container{
    border: .5px solid red;
    background-color: azure;
}
.riderDashTop{
    
    background-color: aquamarine;
}
.riderList{
    list-style: none;
    padding-left: 60px;
}