.bottom-line{
    width: 50px;
    height: 3px;
    background-color: #ffc434;
    margin: 0 auto;
}
.our-offer-container{
    margin-top: 60px;
    height: auto;
    margin-bottom: 100px;
}
.offer-img{
    background-color: #fbfbfb;
    width: 105px;
    padding: 32px 0;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 2;
}
.our-offer-container img{
    height: 40px;
    position: relative;
    z-index: 2;
}
.offer-card:hover .offer-img::after{
    border: 1px solid #000;
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    margin: -30px -70px;
    border-radius: 50%;
    background-color: #ffca00;
    z-index: 1;
}