.bookingInfo{
    cursor: pointer;
}
/* .bookingInfo:hover{
        background-color: aquamarine;
        color: black;
} */

.pickUpFrom{
    border: 1px solid black;
    border-radius: 100%;
    padding: 3px 6px;
}